body, html, #root, .App {
  height: 100%;
}

.App {
  text-align: center;
}

h1 {
  margin: 5px;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  width: 40%;
  margin: 10px;
}

.tv-show-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tv-show-form input, select {
  margin: 5px;
  width: 130px;
  border-radius: 6px;
}

button {
  margin-top: 5px;
  border-radius: 6px;
}

.tv-show {
  width: 50%;
  border-radius: 20px;
  margin-right: 10px;
}