body, html, #root, .App {
  height: 100%;
}

.App {
  text-align: center;
}

body {
  background-color: rgba(95, 179, 204, 0.178);
}

h1 {
  margin: 5px;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  width: 40%;
  margin: 10px;
}

.tv-show-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tv-show-form input, select {
  margin: 5px;
  width: 130px;
  border-radius: 6px;
}

button {
  margin-top: 5px;
  border-radius: 6px;
}

.tv-show {
  width: 150px;
  border-radius: 20px;
  margin: 10px;
}

.bottom {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-tv-shows input {
  margin-left: 7px;
}

.tv-show-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}